<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosong.music.server.mapper.AlbumSingerMapper">

    <resultMap id="BaseResultMap" type="com.xiaosong.music.server.domain.AlbumSinger">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="album" column="album" jdbcType="INTEGER"/>
            <result property="singer" column="singer" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,album,singer
    </sql>
</mapper>
