<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosong.music.server.mapper.MusicMapper">

    <resultMap id="BaseResultMap" type="com.xiaosong.music.server.domain.Music">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="album" column="album" jdbcType="INTEGER"/>
            <result property="lyric" column="lyric" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="VARCHAR"/>
            <result property="sourceData" column="source_data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,album,
        lyric,source,source_data
    </sql>
</mapper>
